[submodule "emacs.d/lisp/ac-coffee"]
	path = emacs.d/lisp/ac-coffee
	url = "https://github.com/akfish/ac-coffee.git    "
[submodule "emacs.d/lisp/emacs-emoji-cheat-sheet-plus"]
	path = emacs.d/lisp/emacs-emoji-cheat-sheet-plus
	url = https://github.com/syl20bnr/emacs-emoji-cheat-sheet-plus
[submodule "emacs.d/lisp/cmake-font-lock"]
	path = emacs.d/lisp/cmake-font-lock
	url = https://github.com/Lindydancer/cmake-font-lock.git
[submodule "emacs.d/lisp/wc-mode"]
	path = emacs.d/lisp/wc-mode
	url = https://github.com/bnbeckwith/wc-mode.git
[submodule "emacs.d/Pymacs"]
	path = emacs.d/Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "emacs.d/ropemacs"]
	path = emacs.d/ropemacs
	url = https://github.com/python-rope/ropemacs.git
