/.DS_Store
/emacs.d/auto-save-list/.saves-65164-MBP.local~
*.cache
/emacs.d/elpa/coffee-mode-20150602.2205/coffee-mode-autoloads.el
/emacs.d/elpa/coffee-mode-20150602.2205/coffee-mode-pkg.el
/emacs.d/elpa/auto-complete-pcmp-20140226.2251/auto-complete-pcmp-autoloads.el
/emacs.d/elpa
/emacs.d/auto-save-list
/emacs.d/recentf
/emacs.d/eshell
*~
/emacs.d/elpa
  
  
emacs.d/projectile-bookmarks.eld
