[submodule "emacs.d/lisp/ac-coffee"]
	path = emacs.d/lisp/ac-coffee
	url = "https://github.com/akfish/ac-coffee.git    "
[submodule "emacs.d/lisp/emacs-emoji-cheat-sheet-plus"]
	path = emacs.d/lisp/emacs-emoji-cheat-sheet-plus
	url = https://github.com/syl20bnr/emacs-emoji-cheat-sheet-plus
[submodule "emacs.d/lisp/cmake-font-lock"]
	path = emacs.d/lisp/cmake-font-lock
	url = https://github.com/Lindydancer/cmake-font-lock.git
[submodule "emacs.d/lisp/wc-mode"]
	path = emacs.d/lisp/wc-mode
	url = https://github.com/bnbeckwith/wc-mode.git
[submodule "emacs.d/lisp/Pymacs"]
	path = emacs.d/lisp/Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "emacs.d/lisp/ropemacs"]
	path = emacs.d/lisp/ropemacs
	url = https://github.com/python-rope/ropemacs.git
[submodule "emacs.d/lisp/sr-speedbar"]
	path = emacs.d/lisp/sr-speedbar
	url = https://github.com/emacsmirror/sr-speedbar.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs.d/emacs-color-theme-solarized"]
	path = emacs.d/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
